<form [formGroup]="surveyForm()"  >
  <div class="component-list  max-md:hidden " >
    <list-menu-component />
  </div>
    <div formArrayName="sections" class="container flex flex-col gap-10 "  >
      <div  *ngFor="let control of detalleSection.controls; let i = index" #section (click)="focusSection.set(i)"  class="border rounded border-solid border-border-gray p-4" [formGroupName]="i" >

        <div class="border-0 border-b border-solid border-border-gray m-1 flex justify-between items-center " >
          <span class=" text-sm font-medium text-text-title-color italic " >
            Seccion {{i + 1}}
          </span>
          <div>
            <span nz-icon nzType="delete" (click)="delete(i)"  class="text-red-600 border border-solid cursor-pointer  border-red-500  rounded-full p-1 "  nzTheme="outline"></span>
          </div>
        </div>

        <div class="bg-white rounded shadow-md border border-solid border-slate-100" >
          <div class="  p-2 flex flex-col gap-2  "  >
            <div>
              <input-rich-text [control]="getFormControl(control,'title')"  placeholder="TITULO DE FORMULARIO" className="text-2xl border-0 border-b border-solid border-border-gray" />
            </div>
            <div>
              <input-rich-text  [control]="getFormControl(control, 'description')" placeholder="descripcion de formulario " className="text-xs text-subTittle border-0 border-b border-solid border-border-gray" />
            </div>
          </div>
        </div>
        <div class="mt-4" >
          <survey-question  #Question [isFocusSection]="focusSection() === i"  [sectionForm]="getFormGroup(control)" />
        </div>
      </div>
      <button nz-button nzType="dashed" (click)="add()" nzBlock>Agregar Seccion</button>
    </div>
    <div class="section-list flex flex-col gap-2" >
      @for (item of detalleSection.controls ; track item ; let i = $index){
        <div  (click)="moveTo(i)"   #buttonSection class="py-1 px-3 text-white  cursor-pointer transition duration-200 hover:bg-blue-400  rounded shadow" [ngClass]="i === focusSection() ? 'bg-blue-500' : 'bg-blue-300'" >
          {{i + 1}}
        </div>
      }
    </div>

</form>
