::ng-deep   .card-section .ant-card-head{
    background-color: #fff;
}


.section{
    background: #fff;
    padding: 4px;
}
.container{
    max-width: 725px;
    width: 100%;
    margin: auto;
}
.tittle-input{
    font-size: 28px;
    overflow: hidden;
    &.secondary {

      font-size: 20px;
    }
}

.section-list{
    position : fixed;
    top:50%;
    transform: translateY(-50%);
    right: 0.5rem;
}

.component-list{
  position : fixed;
  top:50%;
  transform: translateY(-50%);
  left: 0.5rem;
  max-width: 240px;
  width: 100%;
}
