.view-header{
    background-color: white;
    border-width: 10px 0 0 0;
    border-radius: 10px;
    border-color: skyblue;
    border-style: solid;
    padding: 10px;
    .header{
        h1{
            font-size: 24px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .content{

    } 
}