@if (complete()){
  <div class="w-full h-96  flex items-center justify-center "  >
    <span>Formulario Completado</span>
  </div>
}@else{

  @if (loading()){

    <div class="w-full h-96  flex items-center justify-center "  >
      <nz-spin nzSimple [nzSize]="'large'" nzTip="Cargando"  ></nz-spin>
    </div>
  } @else {
    @if (survey()){
      <div class="px-2"  >
        <survey-view-main  [survey]="survey()!"  />
      </div>
    }@else {
      <div class="w-full h-96  flex items-center justify-center "  >
        @if (error() === 'notAvalible'){
          <span>Formulario no disponible</span>
        }@else if (error() === 'logged'){
          <div class="flex flex-col gap-2  justify-center items-center" >

            <span>Requiere Iniciar sesion</span>
            <button class="px-4 py-2 border-0 bg-blue-600 text-white cursor-pointer" (click)="navigateLogin()"   >Iniciar sesion</button>
          </div>
        }@else{
          <span>Formulario no encontrado</span>
        }
      </div>
    }
  }
}

