<form [formGroup]="sectionForm()">
  <div formArrayName="questions" nz-flex [nzGap]="'middle'" cdkDropList cdkDropListGroup  (cdkDropListDropped)="moveList($event)"  [nzVertical]="true">

    <div *ngFor="let control of detalleQuestion.controls;let i = index" [tabindex]="i" nz-flex cdkDrag cdkDragPreviewContainer="parent" (click)="countQuestionFocus.set(i) " [nzVertical]="true" nzGap="small" class="animate-appear-animation">
      <div #dragOverElement (dragover)="dragOverComponent(dragOverElement , $event)"    (dragleave)="dragLeaveComponent(dragOverElement)" (drop)="dragDrop($event , dragOverElement , i)"    class="h-2 transition duration-200 ">
      </div>

      <div nz-flex [nzVertical]="true" [formGroupName]="i" nzGap="small">
        <div class="bg-white shadow flex flex-row gap-2 px-2 w-full " [ngClass]="{'border border-solid border-blue-600 ' : countQuestionFocus() === i && isFocusSection()}" >
          <div class="flex justify-center items-center ">
            <span nz-icon nzType="holder" cdkDragHandle class="cursor-pointer text-lg" nzTheme="outline"></span>
          </div>
          <div class=" flex flex-col gap-2 flex-1 py-2 ">
            <div [ngClass]="countQuestionFocus() === i  && isFocusSection() ? '' : 'hidden'"  >
              <nz-select nzPlaceHolder="TIPO PREGUNTA" [compareWith]="compareType" nzBorderless
                formControlName="questionType" [nzCustomTemplate]="defaultTemplate">
                @for (menu of typeMenu ; track menu.icon ){
                <nz-option nzCustomContent [nzKey]="menu.icon" [nzLabel]="menu.description" [nzValue]="menu.value">
                  <div nz-flex [nzVertical]="false" nzAlign="center" nzGap="small">
                    <span nz-icon [nzType]="menu.icon"></span>
                    <span>{{menu.description}} </span>
                  </div>
                </nz-option>
                }
              </nz-select>
              <div class="w-full border-0 border-b border-border-gray border-solid my-2">

              </div>
            </div>

            <div>
              <input-rich-text [control]="getFormControl(control,'title')" placeholder="Titulo de pregunta"
                className="border-0 font-medium text-secondary px-3 text-lg" />
            </div>
            <div class="mx-4">
              @switch (control.get('questionType')?.value){
              @case ('respuestaCorta'){
              <question-response-short #Option />
              }
              @case ('parrafo'){
              <question-response-long #Option />
              }
              @case ('seleccion'){
              <question-select-simple #Option />
              }
              @case ('seleccionMultiple'){
              <question-select-multiple #Option />
              }

              }
              <div >
                <nz-divider></nz-divider>
                <div class="flex flex-row justify-between">
                  <div nz-flex [nzVertical]="false" nzGap="small">
                    <nz-switch formControlName="required" class="text-blue-600"></nz-switch>
                    <span>Obligatorio</span>
                  </div>
                  <div>

                    <button nz-button class="button-delete" nzDanger nzShape="circle" (click)="delete(i)">
                      <span nz-icon nzType="delete"></span>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
    <div #dragOverElement (dragover)="dragOverComponent(dragOverElement , $event)"  (dragleave)="dragLeaveComponent(dragOverElement)"  (drop)="dragDrop($event , dragOverElement , detalleQuestion.length)" class="h-2 transition duration-200 ">
    </div>
  </div>
</form>

<ng-template #defaultTemplate let-selected>
  <div style="display: flex;gap: 10px; align-items: center;">
    <span nz-icon [nzType]="selected.key" nzTheme="outline"></span>
    <span>{{ selected.nzLabel}} </span>
  </div>
</ng-template>
