<div class="w-full h-full " style="height: 95vh;"  >
  <div  class=" h-full flex gap-2 py-3 " >
    <div class="content-answer bg-white   rounded p-1"  >
        <div class=" border-0 border-b border-solid border-border-gray" >
          <h3 class="text-secondary" >Formularios completados</h3>
        </div>
        <div *ngIf="!loadingAnswer()!;else loadingTemplate " >
          <div *ngFor="let item of answers();let i = index" class="flex flex-col gap-2  hover:bg-slate-200 transition cursor-pointer "  (click)="indexSelect.set(i)"   >
            <div class="flex flex-col px-1 py-1 " >
              <span>Anonimo</span>
              <div class="flex items-center justify-between text-xs text-secondary" >
                <span> {{item.createdAt! | moment  }}</span>
                <span> {{item.createdAt! | moment : 'agoHours' }}</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div  class="flex-1   h-full  bg-slate-100 py-4 roundend shadow-sm " >
      <div *ngIf="!loadingDocument() && survey() ;else loadingTemplate" class="h-full overflow-y-auto"  >
        @if (showAnswer()){
          <answer-view-document [answer]="showAnswer()!" [survey]="survey()!" />
        }@else{
          <survey-view-main  [survey]="survey()!" [disabled]="true"  />
        }
      </div>

    </div>
  </div>
</div>



<ng-template #loadingTemplate >
  <div class="w-full h-full flex items-center justify-center" >
    <span nz-icon nzType="loading" nzTheme="outline" class="text-4xl" ></span>
  </div>
</ng-template>
